<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="abot" type="Abot.Core.AbotConfigurationSectionHandler, Abot" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <abot>
    <crawlBehavior
      maxConcurrentThreads="1"
      maxPagesToCrawl="100000"
      maxPagesToCrawlPerDomain="0"
      maxPageSizeInBytes="0"
      userAgentString="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36"
      crawlTimeoutSeconds="0"
      downloadableContentTypes="text/html, text/plain"
      isUriRecrawlingEnabled="false"
      isExternalPageCrawlingEnabled="false"
      isExternalPageLinksCrawlingEnabled="false"
      httpServicePointConnectionLimit="20000"
      httpRequestTimeoutInSeconds="15"
      httpRequestMaxAutoRedirects="50"
      isHttpRequestAutoRedirectsEnabled="true"
      isHttpRequestAutomaticDecompressionEnabled="false"
      isSendingCookiesEnabled="true"
      isSslCertificateValidationEnabled="false"
      isRespectUrlNamedAnchorOrHashbangEnabled="false"
      minAvailableMemoryRequiredInMb="0"
      maxMemoryUsageInMb="0"
      maxMemoryUsageCacheTimeInSeconds="0"
      maxCrawlDepth="10000"
      maxLinksPerPage="1000"
      isForcedLinkParsingEnabled="false"
      maxRetryCount="2"
      minRetryDelayInMilliseconds="100" />
    <authorization
      isAlwaysLogin="false"
      loginUser=""
      loginPassword="" />
    <politeness
      isRespectRobotsDotTextEnabled="true"
      isRespectMetaRobotsNoFollowEnabled="true"
      isRespectHttpXRobotsTagHeaderNoFollowEnabled="true"
      isRespectAnchorRelNoFollowEnabled="false"
      isIgnoreRobotsDotTextIfRootDisallowedEnabled="false"
      robotsDotTextUserAgentString="abot"
      maxRobotsDotTextCrawlDelayInSeconds="5"
      minCrawlDelayPerDomainMilliSeconds="0" />
    <extensionValues>
      <add key="key1" value="value1" />
      <add key="key2" value="value2" />
    </extensionValues>
  </abot>
</configuration>